.background-modal {
  position: fixed;
  width: 100%;
  height: fill-available;
  background-color: var(--color-overlay);
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  animation: fadeInBackgroundModal 0.3s both linear;
  backdrop-filter: blur(3px);
  z-index: 9999;

  .content-modal {
    width: 500px;
    max-width: 90%;
    height: 100%;
    background-color: var(--color-surface);
    position: absolute;
    top: 0;
    right: 0;
    animation: fadeInContentModal 0.3s both linear;
    overflow: auto;
    box-shadow: 0 0 1px 0 var(--color-border);
    border-radius: 25px 0 0 25px;

    &::-webkit-scrollbar {
      display: none;
    }

    header {
      padding: 16px 24px;
      padding-top: calc(constant(safe-area-inset-top) + 16px);
      padding-top: calc(env(safe-area-inset-top) + 16px);
      position: sticky;
      top: 0;
      background-color: var(--color-primary);
      z-index: 1;

      h2 {
        color: var(--color-text-inverse);
        font-size: var(--font-size-20);
        font-weight: var(--font-weight-bold);
      }

      mat-icon {
        color: var(--color-text-inverse);
        cursor: pointer;
      }
    }
  }

  .close-content-modal {
    animation: fadeOutContentModal 0.1s both linear;
  }
}

.close-background-modal {
  animation: fadeOutBackgroundModal 0.1s both linear;
}

@keyframes fadeInBackgroundModal {
  from {
    background-color: transparent;
  }
  to {
    background-color: var(--color-overlay);
  }
}

@keyframes fadeOutBackgroundModal {
  from {
    background-color: var(--color-overlay);
  }
  to {
    background-color: transparent;
  }
}

@keyframes fadeInContentModal {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fadeOutContentModal {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

::ng-deep {
  .background-modal {
    .body-modal {
      padding: 24px;
      flex-grow: 1;
      overflow: auto;
      background-color: var(--color-surface);
    }

    footer {
      gap: 16px;
      width: 100%;
      padding: 24px;
      position: sticky;
      bottom: 0;
      background-color: var(--color-surface);
      z-index: 5;
      padding-bottom: calc(constant(safe-area-inset-bottom) + 24px);
      padding-bottom: calc(env(safe-area-inset-bottom) + 24px);
    }
  }
}
