<article [id]="'modal' + indexModal" class="background-modal">
  <aside class="content-modal flex flex-column">
    <header class="flex justify-between items-center">
      <h2>{{ title }}</h2>
      <!-- ADICIONAR ICON CLOSE -->
    </header>

    <ng-content> </ng-content>

    @if (buttons.length) {
      <footer class="flex flex-column">
        @for (button of buttons; track $index) {
          <app-button
            [disabled]="button.disabled"
            [loading]="button.loading"
            [btnClass]="button.btnClass"
          >
            {{ button.label }}
          </app-button>
        }
      </footer>
    }
  </aside>
</article>
