header {
  position: sticky;
  top: 0;
  z-index: 10;
  background: var(--header-background);
  padding: calc(20px + env(safe-area-inset-top)) 32px 20px;
  width: 100%;

  h1 {
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-bold);
    color: var(--color-text-primary);
  }
}
