@use '../../../../theme/breakpoint.scss' as *;

header {
  position: sticky;
  top: 0;
  z-index: 10;
  background: var(--header-background);
  padding: calc(20px + env(safe-area-inset-top)) 32px 20px;
  width: 100%;
  border-bottom: 1px solid var(--gray);
  gap: 16px;

  .header-content {
    gap: 16px;
  }

  .buttons-actions {
    justify-content: flex-end;
    gap: 8px;
    margin-left: auto;
  }

  mat-icon {
    display: none;
    color: var(--color-text-primary);
    font-size: 24px;
    cursor: pointer;
  }

  h1 {
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-bold);
    color: var(--color-text-primary);
  }

  @media screen and (max-width: $breakpoint-mobile) {
    .buttons-actions {
      display: none;
    }

    mat-icon {
      display: block;
    }
  }
}
