app-modal .body-modal {
  background-color: var(--color-background);
  gap: 24px;

  div {
    gap: 8px;

    h3 {
      color: var(--color-text-primary);
      font-size: var(--font-size-16);
      font-weight: var(--font-weight-semibold);
    }
  }

  article {
    gap: 16px;
    width: 100%;
    min-height: 80px;
    padding: 16px;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    background-color: var(--color-surface);

    div {
      flex: 1;
      gap: 4px;
    }

    menu {
      list-style: none;
      gap: 8px;
    }
  }
}
