<app-modal title="Endereço">
  <section class="body-modal flex flex-column">
    <app-input label="Novo endereço" (valueChange)="onSearchAddress($event)" />

    <app-predictions [predictions]="predictions" (confirmed)="onAddressCreated()" />

    @if (searchAddress.trim().length === 0) {
      <div class="flex flex-column">
        <h3>Selecionar existente</h3>

        @if (addressesStore.getIsLoading()()) {
          @for (skeleton of [1, 2, 3]; track skeleton) {
            <article class="flex items-center justify-between">
              <div class="flex flex-column">
                <app-skeleton width="40%" height="16px" />
                <app-skeleton width="65%" height="14px" />
              </div>

              <menu class="flex items-center">
                <li>
                  <app-skeleton width="20px" height="20px" />
                </li>

                <li>
                  <app-skeleton width="20px" height="20px" />
                </li>
              </menu>
            </article>
          }
        } @else {
          @for (address of addresses(); track address.id) {
            <app-card
              [title]="address.place"
              [description]="
                `${address.street}, ${address.district}, ${address.city} - ${address.state}`
              "
              [icons]="address.actions"
              [clickable]="true"
              (click)="onSelectAddress(address)"
            />
          }
        }
      </div>
    }
  </section>
</app-modal>
