<app-modal title="Endereço">
  <section class="body-modal flex flex-column">
    <app-input label="Novo endereço" (valueChange)="onSearchAddress($event)" />

    <app-address-predictions [predictions]="predictions" />

    @if (shouldShowRegisteredAddresses) {
      <div class="flex flex-column">
        <h3>Selecionar existente</h3>

        @for (address of addresses; track $index) {
          <app-card
            [title]="address.title"
            [description]="address.description"
            [icons]="getCardActions(address)"
          />
        }
      </div>
    }
  </section>
</app-modal>
