section {
  display: block;

  header {
    display: block;
    cursor: pointer;
  }

  article {
    padding: 16px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: var(--color-border);
    border-radius: 0 0 8px 8px;
  }
}
