section {
  gap: 24px;

  > div {
    gap: 12px;

    figure {
      width: 72px;
      height: 72px;
      border-radius: 50%;
      background-color: var(--color-background-secondary);

      mat-icon {
        width: 44px;
        height: 44px;
        font-size: 44px;
        color: var(--color-text-inverse);
      }
    }

    p {
      font-size: var(--font-size-16);
      font-weight: var(--font-weight-semibold);
      color: var(--color-text-primary);
    }
  }

  nav {
    gap: 12px;

    button {
      all: unset;
      display: block;
      width: 100%;
      cursor: pointer;
    }
  }
}
