main {
  min-height: 100%;
  padding: 16px;
  background-color: #ced4db;

  section {
    width: 100%;
    max-width: 375px;

    header {
      h1 {
        margin: 0 0 24px;
        font-size: var(--font-size-16);
        color: var(--color-text-primary);
      }
    }

    form {
      gap: 16px;
    }
  }
}
