<app-modal title="Perfil">
  <section class="body-modal flex flex-column">

    <div class="flex flex-column items-center">
      <div class="avatar-wrapper" (click)="openChangePhotoDialog()">
        <figure class="flex justify-center items-center">
          @if (userLogged()?.avatar) {
            <img [src]="userLogged()?.avatar" [alt]="userLogged()?.name" />
          } @else {
            <mat-icon aria-hidden="true">person</mat-icon>
          }
        </figure>
        <button class="camera-btn flex justify-center items-center" aria-label="Alterar foto">
          <mat-icon>photo_camera</mat-icon>
        </button>
      </div>
      <p>{{ userLogged()?.name | capitalizeName }}</p>
    </div>

    <nav class="flex flex-column">
      @for (item of menuItems; track item.title) {
        <app-card [title]="item.title" [description]="null" [icons]="item.icons" [clickable]="true" (click)="item.click()" />
      }
    </nav>

  </section>
</app-modal>
