<app-modal title="Atividades do dia">
  <section class="body-modal flex flex-column">
    @for (activity of activities(); track $index) {
      <app-accordion [title]="activity.description" [description]="activity.hourInitial | hourRange: activity.hourFinal">
        <div class="flex flex-column">
          <div class="flex items-center">
            <figure class="flex items-center justify-center">
              <mat-icon aria-hidden="true">schedule</mat-icon>
            </figure>

            <div class="flex flex-column">
              <strong>Horário</strong>
              <time>{{ activity.hourInitial | hourRange: activity.hourFinal }}</time>
            </div>
          </div>

          <ul class="flex flex-column">
            @for (person of activity.peoples; track person.name) {
              <li class="flex items-center">
                <figure class="flex items-center justify-center">
                  @if (person.avatarUrl) {
                    <img [src]="person.avatarUrl" alt="Avatar" />
                  } @else {
                    <mat-icon aria-hidden="true">person</mat-icon>
                  }
                </figure>

                <span>{{ person.name }}</span>
              </li>
            }
          </ul>
        </div>
      </app-accordion>
    }
  </section>
</app-modal>
