main {
  min-height: 100%;
  padding: 16px;
  background: linear-gradient(
    to bottom,
    var(--color-primary) 0%,
    var(--color-primary) 37%,
    var(--color-background) 37%,
    var(--color-background) 100%
  );

  section {
    width: 100%;
    max-width: 430px;
    background-color: var(--color-surface);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    padding: 30px 26px 22px;
  }

  header {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    img {
      width: 165px;
      height: auto;
    }
  }

  form {
    gap: 22px;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 10px;

    a {
      font-size: var(--font-size-12);
      color: var(--color-primary);
      font-weight: var(--font-weight-semibold);
      text-decoration: none;
      align-self: flex-end;
    }
  }

  footer {
    margin-top: 26px;
    text-align: center;

    p {
      font-size: var(--font-size-12);
      color: var(--color-text-primary);
    }

    a {
      color: var(--color-primary);
      text-decoration: none;
      font-weight: var(--font-weight-semibold);
    }
  }
}
