main {
  min-height: 100%;
  padding: 16px;
  background: linear-gradient(
    to bottom,
    var(--color-primary) 0%,
    var(--color-primary) 37%,
    var(--color-background) 37%,
    var(--color-background) 100%
  );

  section {
    width: 100%;
    max-width: 430px;
    background-color: var(--color-surface);
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    padding: 32px;
    gap: 32px;

    header {
      display: flex;
      justify-content: center;

      img {
        width: auto;
        height: 68px;
        object-fit: cover;
      }
    }

    form {
      gap: 24px;

      div {
        display: flex;
        flex-direction: column;
        gap: 12px;

        a {
          font-size: var(--font-size-12);
          color: var(--color-primary);
          font-weight: var(--font-weight-semibold);
          text-decoration: none;
          align-self: flex-end;
        }
      }
    }

    footer {
      p {
        font-size: var(--font-size-12);
        color: var(--color-text-primary);
      }

      a {
        color: var(--color-primary);
        text-decoration: none;
        font-weight: var(--font-weight-semibold);
      }
    }
  }
}
