@use '../../../../theme/breakpoint.scss' as *;

.mobile-backdrop {
  display: none;

  @media screen and (max-width: $breakpoint-mobile) {
    display: block;
    position: fixed;
    inset: 0;
    background-color: var(--color-overlay);
    backdrop-filter: blur(3px);
    z-index: 98;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s linear;

    &.is-open {
      opacity: 1;
      pointer-events: all;
    }
  }
}

aside {
  height: 100%;
  width: 250px;
  border-radius: 0 25px 25px 0;
  background-color: var(--color-primary);
  overflow: hidden;

  @media screen and (max-width: $breakpoint-mobile) {
    position: absolute;
    z-index: 99;
    border-radius: 0;

    &.is-open {
      animation: fadeInMenu 0.3s both linear;
    }

    &.is-closed {
      animation: fadeOutMenu 0.1s both linear;
    }
  }
}

@keyframes fadeInMenu {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOutMenu {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}
