@use '../../../../theme/breakpoint.scss' as *;

aside {
  height: 100%;
  width: 250px;
  border-radius: 0 25px 25px 0;
  background-color: var(--color-primary);
  overflow: hidden;

  @media screen and (max-width: $breakpoint-mobile) {
    position: absolute;
    z-index: 99;
    border-radius: 0;

    &.is-open {
      animation: fadeInMenu 0.3s both linear;
    }

    &.is-closed {
      animation: fadeOutMenu 0.1s both linear;
    }
  }
}

@keyframes fadeInMenu {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOutMenu {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}
