<div class="autocomplete flex flex-column">
  <app-input
    [label]="label()"
    [placeholder]="placeholder()"
    [value]="displayValue"
    [errorMessage]="errorMessage()"
    (valueChange)="onSearch($event)"
  />

  @if (filteredOptions.length) {
    <ul class="predictions flex flex-column">
      @for (option of filteredOptions; track option.id) {
        <li (click)="onSelect(option)">
          @if (optionTemplate) {
            <ng-container
              [ngTemplateOutlet]="optionTemplate"
              [ngTemplateOutletContext]="{ $implicit: option }"
            />
          } @else {
            <app-member-item [member]="$any(option.data)" />
          }
        </li>
      }
    </ul>
  }
</div>
