<fieldset class="flex flex-column">
  <label>{{ label() }}</label>
  <div class="select-wrapper">
    <select
      [value]="selectValue"
      [disabled]="isDisabled"
      (change)="onChange($event)"
      (blur)="onBlur()"
    >
      @if (placeholder()) {
        <option value="" disabled [selected]="!selectValue">{{ placeholder() }}</option>
      }
      @for (option of options(); track option.value) {
        <option [value]="option.value">{{ option.label }}</option>
      }
    </select>
    <mat-icon class="chevron">expand_more</mat-icon>
  </div>

  @if (errorMessage()) {
    <small>{{ errorMessage() }}</small>
  }
</fieldset>
