<fieldset class="flex flex-column">
  <label>{{ label() }}</label>

  @if (multiline()) {
    <textarea
      [value]="inputValue || value()"
      [placeholder]="placeholder()"
      [disabled]="isDisabled"
      (input)="onInput($event)"
      (blur)="onBlur()"
    ></textarea>
  } @else {
    <input
      [type]="type()"
      [value]="inputValue || value()"
      [placeholder]="placeholder()"
      [disabled]="isDisabled"
      (input)="onInput($event)"
      (blur)="onBlur()"
      [appDateOfBirthMask]="dateOfBirth()"
      [appTimeMask]="timeMask()"
      [appPhoneMask]="phoneMask()"
    />
  }

  @if (errorMessage()) {
    <small>{{ errorMessage() }}</small>
  }
</fieldset>
