article {
  gap: 16px;
  width: 100%;
  min-height: 80px;
  padding: 16px;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  background-color: var(--color-surface);

  div {
    gap: 4px;

    h3,
    p {
      color: var(--color-text-secondary);
    }

    h3 {
      color: var(--color-text-primary);
      font-size: var(--font-size-16);
      font-weight: var(--font-weight-bold);
    }

    p {
      font-size: var(--font-size-14);
      font-weight: var(--font-weight-regular);
    }
  }

  menu {
    list-style: none;
    gap: 8px;

    mat-icon {
      width: 20px;
      height: 20px;
      font-size: var(--font-size-20);
      color: var(--color-text-secondary);
      cursor: pointer;
    }
  }
}
