<app-modal title="Nova atividade">
  <section class="body-modal flex flex-column">
    <fieldset class="flex flex-column">
      <label>Endereço</label>
      <app-card
        [title]="currentAddress()?.place ?? ''"
        [description]="currentAddress() | addressDescription"
        [icons]="[{ name: 'edit', action: onChangeAddress.bind(this) }]"
      />
    </fieldset>

    <form class="flex flex-column" [formGroup]="form">
      <app-input
        label="Título"
        placeholder="Ex: Culto da manhã"
        formControlName="title"
        [errorMessage]="
          form.controls.title.touched && form.controls.title.hasError('required')
            ? 'Título é obrigatório'
            : ''
        "
      />

      <div class="flex">
        <app-input
          label="Hora inicial"
          type="tel"
          [timeMask]="true"
          placeholder="HH:MM"
          formControlName="startTime"
        />

        <app-input
          label="Hora final"
          type="tel"
          [timeMask]="true"
          placeholder="HH:MM"
          formControlName="endTime"
        />
      </div>

      <app-select
        label="Tipo de atividade"
        formControlName="activityType"
        [options]="activityTypeOptions"
      />

      @if (isFixa) {
        <app-week-day-picker (selectionChange)="selectedWeekDays = $event" />
      } @else {
        <app-input
          label="Data da atividade"
          type="tel"
          [dateOfBirth]="true"
          placeholder="dd/mm/aaaa"
          formControlName="date"
        />
      }

      <app-select
        label="Limite de participantes"
        formControlName="participantLimit"
        [options]="participantLimitOptions"
      />

      @if (isLimited) {
        <app-input
          label="Quantidade máxima"
          type="tel"
          placeholder="Ex: 20"
          formControlName="maxParticipants"
        />
      }

      <app-select
        label="Participação"
        formControlName="participation"
        [options]="participationOptions"
      />
    </form>
  </section>

  <footer class="flex justify-end">
    <app-button btnClass="btn-secondary" (click)="onCancel()">Cancelar</app-button>
    <app-button btnClass="btn-primary" [loading]="loading" (click)="onConfirm()">Confirmar</app-button>
  </footer>
</app-modal>
