@use '../../../../theme/breakpoint.scss' as *;

article {
  gap: 24px;

  div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  article {
    div {
      grid-template-columns: 1fr;
    }
  }
}
