@use '../../../../../theme/breakpoint.scss' as *;

nav ul {
  padding-left: 16px;
  overflow: visible;

  li {
    width: 100%;
    color: var(--color-text-inverse);
    gap: 16px;
    padding: 12px;
    cursor: pointer;

    &.selected {
      position: relative;
      color: var(--color-text-secondary);
      background-color: var(--color-background);
      border-radius: 999px 0 0 999px;

      &::before,
      &::after {
        content: '';
        position: absolute;
        right: 0;
        width: 24px;
        height: 24px;
        background: transparent;
      }

      &::before {
        top: -24px;
        border-bottom-right-radius: 24px;
        box-shadow: 8px 8px 0 8px var(--color-background);

        @media screen and (max-width: $breakpoint-mobile) {
          display: none;
        }
      }

      &::after {
        bottom: -24px;
        border-top-right-radius: 24px;
        box-shadow: 8px -8px 0 8px var(--color-background);

        @media screen and (max-width: $breakpoint-mobile) {
          display: none;
        }
      }
    }

    mat-icon {
      width: 24px;
      height: 24px;
      font-size: 24px;
    }

    span {
      font-size: var(--font-size-14);
      font-weight: var(--font-weight-regular);
    }
  }
}
