<app-dialog [title]="'Confirmado por ' + attendees.length" (close)="onClose()">
  <section>
    <ul class="flex flex-column">
      @for (attendee of attendees; track $index) {
        <li class="flex items-center">
          @if (attendee.avatarUrl) {
            <img [src]="attendee.avatarUrl" [alt]="'Foto de ' + attendee.name" />
          } @else {
            <figure class="name-pip flex items-center justify-center" [attr.aria-label]="attendee.name">
              <span>{{ attendee.initials }}</span>
            </figure>
          }

          <span>{{ attendee.name }}</span>
        </li>
      }
    </ul>
  </section>
</app-dialog>
