@use './theme/breakpoint.scss';
@use './theme/colors.scss';
@use './theme/flex.scss';
@use './theme/fonts.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Inter;
}
