@use '../../../theme/breakpoint.scss' as *;

main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--color-background);

  article {
    width: 100%;
    height: 100%;
    overflow: auto;

    app-header,
    app-footer {
      position: sticky;
      z-index: 1;
    }

    app-header {
      top: 0;
    }

    app-footer {
      bottom: 0;
    }

    section {
      padding: 32px;
      flex-grow: 1;
    }
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  main article section {
    padding: 24px;
  }
}
