<section
  id="toast"
  [class.success]="success"
  [class.error]="!success"
  class="flex items-center justify-between"
>
  <article class="flex items-center">
    @if (success) {
      <mat-icon class="status-icon success-icon">check_circle</mat-icon>
    } @else {
      <mat-icon class="status-icon error-icon">error</mat-icon>
    }

    <span class="flex flex-column">
      <h2>{{ title }}</h2>
      <p>{{ message }}</p>
    </span>
  </article>

  <mat-icon class="close-icon" (click)="toastService.closeToast()">close</mat-icon>

  <article [style.background]="success ? 'var(--color-success)' : 'var(--color-danger)'"></article>
</section>
