<app-modal title="Redefinir senha">
  <section class="body-modal">
    @if (currentStep === 1) {
      <form
        class="flex flex-column"
        aria-label="Formulário de recuperação de senha - passo 1"
        [formGroup]="emailForm"
        (ngSubmit)="onSendEmail()"
      >
        <app-input
          label="Email"
          type="email"
          placeholder="Digite seu e-mail"
          formControlName="email"
          [errorMessage]="
            emailForm.controls.email.touched && emailForm.controls.email.hasError('required')
              ? 'E-mail é obrigatório'
              : emailForm.controls.email.touched && emailForm.controls.email.hasError('email')
                ? 'Digite um e-mail válido'
                : ''
          "
        />
      </form>
    } @else {
      <form
        class="flex flex-column"
        aria-label="Formulário de recuperação de senha - passo 2"
        [formGroup]="resetForm"
        (ngSubmit)="onResetPassword()"
      >
        <app-input
          label="Código"
          placeholder="Digite o código recebido por e-mail"
          formControlName="code"
          [errorMessage]="
            resetForm.controls.code.touched && resetForm.controls.code.hasError('required')
              ? 'Código é obrigatório'
              : ''
          "
        />
        <app-input
          label="Nova senha"
          type="password"
          placeholder="Digite a nova senha"
          formControlName="password"
          [errorMessage]="
            resetForm.controls.password.touched && resetForm.controls.password.hasError('required')
              ? 'Senha é obrigatória'
              : ''
          "
        />
        <app-input
          label="Confirme a senha"
          type="password"
          placeholder="Confirme a nova senha"
          formControlName="confirmPassword"
          [errorMessage]="
            resetForm.controls.confirmPassword.touched &&
            resetForm.controls.confirmPassword.hasError('required')
              ? 'Confirmação de senha é obrigatória'
              : resetForm.controls.confirmPassword.touched && !isPasswordMatch()
                ? 'As senhas devem ser iguais'
                : ''
          "
        />
      </form>
    }
  </section>

  <footer class="flex justify-end">
    <app-button btnClass="btn-secondary" (click)="closeModal()">Cancelar</app-button>

    @if (currentStep === 1) {
      <app-button
        btnClass="btn-primary"
        [disabled]="emailForm.invalid"
        [loading]="isLoading"
        (click)="onSendEmail()"
      >Continuar</app-button>
    } @else {
      <app-button
        btnClass="btn-primary"
        [disabled]="resetForm.invalid || !isPasswordMatch()"
        [loading]="isLoading"
        (click)="onResetPassword()"
      >Confirmar</app-button>
    }
  </footer>
</app-modal>
