<app-modal title="Redefinir senha">
  <section class="body-modal">
    @if (currentStep === 1) {
      <form class="flex flex-column" aria-label="Formulário de recuperação de senha - passo 1">
        <app-input label="Email" type="email" placeholder="Digite seu e-mail" />
      </form>
    } @else {
      <form class="flex flex-column" aria-label="Formulário de recuperação de senha - passo 2">
        <app-input label="Código" placeholder="Digite o código" />
        <app-input label="Nova senha" type="password" placeholder="Digite a nova senha" />
        <app-input label="Confirme a senha" type="password" placeholder="Confirme a senha" />
      </form>
    }
  </section>

  <footer class="flex justify-end">
    <app-button btnClass="btn-secondary" (click)="closeModal()">Cancelar</app-button>

    @if (currentStep === 1) {
      <app-button btnClass="btn-primary" (click)="goToStepTwo()">Continuar</app-button>
    } @else {
      <app-button btnClass="btn-primary">Confirmar</app-button>
    }
  </footer>
</app-modal>
