app-modal form {
  gap: 22px;
}

:host ::ng-deep {
  .background-modal {
    .content-modal {
      width: 330px;
      max-width: 94%;
      border-radius: 20px 0 0 20px;
    }

    .body-modal,
    footer {
      background-color: #d6dde2;
    }

    .body-modal {
      padding-top: 20px;
    }

    footer {
      gap: 12px;
    }
  }

  app-input {
    label {
      font-size: var(--font-size-16);
    }

    input {
      border: 0;
      border-radius: 4px;
      background-color: #f3f3f3;
    }
  }

  app-button button {
    min-width: 80px;
    padding: 12px 20px;
    font-size: var(--font-size-14);
  }

  app-button .btn-secondary {
    border: 1px solid var(--color-primary);
  }
}
