.background-alert {
  position: fixed;
  inset: 0;
  background-color: var(--color-overlay);
  backdrop-filter: blur(3px);
  z-index: 9999;

  .content-alert {
    width: auto;
    max-width: 90%;
    border-radius: 25px;
    background: var(--color-surface);
    padding: 32px;
    gap: 32px;

    div {
      gap: 16px;

      .icon-alert {
        width: 54px;
        height: 54px;
        font-size: 54px;
        color: var(--color-primary);
      }

      p {
        color: var(--color-text-secondary);
        text-align: center;
      }
    }

    footer {
      width: 100%;
      gap: 16px;

      app-button {
        width: 170px;
      }
    }
  }
}
