<article class="background-alert flex justify-center items-center">
  <section class="content-alert flex flex-column items-center">
    <div class="flex flex-column items-center">
      <mat-icon class="icon-alert">warning</mat-icon>
      <p>{{ message }}</p>
    </div>

    <footer class="flex justify-center items-center">
      <app-button btnClass="btn-secondary" (click)="answer(false)">Não</app-button>
      <app-button btnClass="btn-primary" (click)="answer(true)">Sim</app-button>
    </footer>
  </section>
</article>
